/* General */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;

}



/* Contact */

.contactTitle{
    margin-top: 50px;
}

.contactForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    padding: 150px 150px 150px 150px;
    color: white;
}

  .formColor{
    display: flex;
    align-items:  center;
    background: #092b3b;
    width: 400px;
    height: 600px;
    padding: 50px 50px;
    max-height: 100%;
    color: white;
    text-align: start;
    border-radius: 5px;
    box-shadow: 20px 20px 20px black;
  }

  .formColor h2{
      padding-bottom: 10px;
  }

  .formColor h3{
    padding-bottom: 5px;
  }
  

input[type=text], textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px; 
    margin-bottom: 16px;
  }
  
  input[type=submit] {
    background-color: #498c8d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #092b3b;
  }
  
  .container {
    width: 400px;
    border-radius: 5px;
    background: linear-gradient(to right, #457475, #092b3b, #051d29);
    padding: 20px;
    margin-top: 20px;
    box-shadow: 20px 20px 20px black; 
  }

  form{
      padding: 20px;
  }

  /* Media Queries Start Here */
  @media screen and (min-width: 320px) and (max-width: 600px){
    .contactForm{
      display: flex;
      flex-direction: column;
      padding: 50px 50px 50px 45px;
    }
    .formColor{
      width: 300px;
      height: 400px;
      padding: 50px 50px;
    }
    .formColor h2{
      font-size: 25px;
    }
    .formColor h3{
      font-size: 15px;
    }
    .container {
      width: 300px;
      padding: 20px;
      margin-top: 5px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px){
    .contactForm{
      display: flex;
      flex-direction: row;
      padding: 50px 50px 50px 50px;
    }
  }
  