/* General */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* Footer Styling */

.footerContainer{
    background: #092b3b;
    color: #3e89a7;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
    padding: 50px 50px 50px 50px;
}

.footerH2{
    margin-bottom: 20px;
}

li{
    margin-top: 5px;
    color: white;
}

li a{
    color: white;
}

li a:hover{
    color: #3e89a7;
}

.socialMedias{
    border-right: solid 1px;
    border-right-color: #3e89a7;
    width: 343px;
}

.contactInfo{
    border-right: solid 1px;
    border-right-color: #3e89a7;
    width: 355px;  
}

.copyright{
    padding-bottom: 10px;
    color: white;
}

/* Media Queries Start Here */

@media screen and (min-width: 320px) and (max-width: 600px){
    .footer{
        display: flex;
        flex-direction: column;
        padding: 50px 50px 50px 50px;
    }
    .socialMedias{
        border-right: none;
        border-right-color: none;
    }
    
    .contactInfo{
        border-right: none;
        border-right-color: none;
    } 
    .footerH2{
        margin-top: 10px;
    }    
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .socialMedias{
        border-right: solid 1px;
        border-right-color: #3e89a7;
        width: 355px;
        margin-right: 80px;
    }
    
    .contactInfo{
        border-right: solid 1px;
        border-right-color: #3e89a7;
        width: 355px; 
        margin-right: 80px;
        padding-right: 25px;
    } 
}

@media screen and (min-width: 1500px){
    .socialMedias{
        width: 380px;
        margin-right: 80px;
    }
    
    .contactInfo{
        width: 455px; 
        margin-right: 80px;
        padding-right: 25px;
    } 
}
